
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}


h1 {
	color: grey;
	font-family: arial;
	font-size: 30px;
	text-align:center;
	border: 3px solid grey;
	padding: 0.5px;
}


p {
    color: grey;
    font-family: arial;
}


a:link, a:visited {
	background-color: #00000058;
	color: grey;
	padding: 3px 2px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  }
  