body {
    background-color: black;
	min-height: 100vh;
}

h1 {
	color: rgb(255, 255, 255);
	justify-content: center;
}

.header {
	text-align: center;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	justify-content: center;
  }

.social-links {
	display: flex;
	justify-content: center; /* Zentriert die Links horizontal */
	gap: 20px; 
	font-size: 15px;
}

a:link, a:visited {
	color: rgba(5, 66, 249, 0.623);
	text-align: center;
	display: inline-block;
	text-decoration: none;
  }

a:hover{
	color: #007bff;
}


footer {
    padding: 25px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
