@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
}

body {
    text-align: center;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 3.5rem 95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #4300d2;
    transition: all 0.5s ease;
}

.link a:hover::after{
    width: 100%;
}

.blur{
    box-shadow: 500px 50px 200px 80px #4300d2;
    position: absolute;
    z-index: -100;
}

.blur2{
    box-shadow: -500px 50px 200px 80px #4300d2;
    position: absolute;
    z-index: -100;
}

h1{
    font-size: 3rem;
    margin: 1rem 1rem ;
}

h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    font-size: 40px;
}

h2{
    margin: 1rem 0 1rem;
}

.container {
    margin: 20px auto;
    width: 80%;
    padding: 30px;
    border: 2px solid rgb(78, 78, 78);
    box-shadow: 20px 20px 30px 0px #07002c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #27272a;
    border-radius: 25px;
    transition: all 0.4s ease;
  }

.container:hover{
    border-color: white;
    background-color: #212121;
}

#sizePicker {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    color:black;
}

#sizePicker label {
    margin: 5px 10px 5px 0;
    font-weight: 400;
  }
  
#sizePicker input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  border: 3px solid #5d5d5d;
  border-radius: 5px;
  font: inherit;
  color:black;
}

input[type="number"] {
  width: 6em;
}

#sizePicker button {
  margin-top: 0;
}

button{
    padding: 10px 20px;
    background-color: #4300d2;
    border: 2px solid #4300d2;
    color: white;
    font: inherit;
    font-weight: 400;
    border-radius: 8px;
    transition: all 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #1f0646;
    border: 2px solid white;
}


table,
tr,
td {
  border: 1px solid white;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

@media (max-width: 800px) {
  #sizePicker input {
    margin: 10px 0;
  }

  #sizePicker {
    flex-direction: column;
    align-items: stretch;
  }
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 25px;
}

f{
	animation: farbwechsel infinite 3.5s ;
    font-size: 42px;
} 

@keyframes farbwechsel {
	0% {
	  color: #6633ff; 
	}
	50%{
	  color:rgb(163, 16, 171);
	}
	100% {
	  color: #5733ff;
	}
}